body{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'PT Sans', sans-serif;
	/* background-color: pink; */
	background-image: url(./backcover.jpg);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
    background-attachment: fixed;


}

.navbar{

	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	letter-spacing:0.01rem;
	background: rgba(0,0,0,0.7) !important;
	padding: 20px 0px;


}

.navbar-dark .navbar-nav .nav-link{

	color: white;
	padding-left: 40px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: rgb(255, 175, 83);
}


#img1{
	height: 290px;
	width: 220px;
	border-radius: 50%;
	border: 2px solid black;
}

.heading-content{
/*	position: absolute;
	margin-top: -280px;
	margin-left: 250px;*/
	max-width: 100%;
}

.heading-content h5{

	font-size: 3em;
	font-weight: 300;
	color: black;
	font-family: monospace;
}
.heading-content h1{

	font-size: 4em;
	font-weight: 300;
	color: black;
	font-family: monospace;
}

.heading-content p{

	font-size: 1em;
	font-weight: lighter;
	text-transform: uppercase;
	color: black;
	word-spacing: 5px;
	letter-spacing: 2px;
	font-family: monospace;
}

.card-subtitle{
	color:rgb(190, 190, 190) !important;
}
#about .btn{
	border: 2px solid;
	width: fit-content;
	padding:  10px 10px;
	background: #000;
	border-radius: 5px;
	margin-top: 5px;

}

#about .btn a{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	/*font-weight: bold;
*/	text-transform: uppercase;
}

#about .btn:hover{

	cursor: pointer;

	transition: 0.25s;
	box-shadow: inset 20em 0 0 0 rgb(48, 35, 37);

}

#about .col-lg-6 p{
	font-size: 19.5px;
} 

#img2{
/*	height: 350px;
	width: 400px;*/

	margin-top: 2px;
}

/* #allcards{

	background-image: url(https://i.pinimg.com/236x/76/82/68/768268c56c34dfa5cd4729669423ff93.jpg);
	background-position: center;
	background-size: 100%;
} */
.covid{
	background:no-repeat url("./covid\ ss.png");
	background-position: left;
	background-size: 100% 100%;
}
.todo{
	background:no-repeat url("./to-do\ ss.png");
	background-position: left;
	background-size: 100% 100%;
}
.Portfolio{
	background:no-repeat url("./portfolio\ ss.png");
	background-position: left;
	background-size: 100% 100%;
}
.card-body{
	visibility: hidden;
}

#allcards:hover{
	background-image: none;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	transition: 0.6s;
}
#allcards:hover .card-body{
	visibility: visible;
}

#allcards:hover .btn{

	background-color: transparent;
	color:white;
    transition: 0.3s;
	border-color: white;
}
#allcards:hover .btn:hover{

	/* background-color: white;
	color: black; */
    color: black;
	box-shadow: inset 8em 0 0 0 white;

}

#gall{

	padding-bottom: 15px;
	padding-top: 15px;

}

#projects{
	margin-left: 35px;
}

footer{
	margin: 0px;
	padding: 0px;
}

.footer{
	/*display: flex;*/
	left: 0;
    right: 0;
	position: absolute;
	text-align: center;
	color: white;
	height: auto;
	width: 100vw;
	background-color: rgba(0,0,0,0.7);

	 
}

/* hr.line { 
  height: 30px; 
  border-style: solid; 
  border-color: #8000ff; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.line:before { 
  display: block; 
  content: ""; 
  height: 30px;  
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
} */

hr.line {
    border: 0;
    height:1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#projects{
	margin-bottom: 5%;
}

.icons{
	margin-top: 1%;
	margin-bottom: 5%;
	display: inline-block;
}

.icons a{
	text-decoration: none;
	color: white;
	padding: 10px;
	
}

.icons a svg{

	height:25px;
	width: 25px;

}

.icons a svg:hover{
	cursor: pointer;
	color: #97c0ff;
	height: 30;
	width: 30;
}

.offset:before{
	display: block;;
	content: "";
	height: 6rem;
}

.active{
	color: pink;
}
